@font-face {
  font-family: 'FiraMono-Regular';
  src: url('../fonts/FiraMono-Regular.eot'); 
  src: url('../fonts/FiraMono-Regular.woff2') format('woff2'), 
       url('../fonts/FiraMono-Regular.woff') format('woff'), 
       url('../fonts/FiraMono-Regular.ttf')  format('truetype'), 
       url('../fonts/FiraMono-Regular.otf')  format('opentype') 
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

body {
    font-size: 100%;
    font-family: 'FiraMono-Regular', monospace;
}

main {
    width: 100%;
    height: 100%;
    padding:10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

h1 {
    margin: .5rem 0;
    font-size: 5rem;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 600px;
    border: 4px solid #000000;
}

.player {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1em 0 5px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            height: 100%;
}


.actiu{
    color: #34e251 !important;
}

.player__tile {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    color: #ffffff;
    max-width: 400px;
    border-radius: 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #000000;
    -webkit-box-shadow: inset 4px 4px 0 #000, 
                inset -4px 4px 0 #000, 
                inset -4px -4px 0 #000, 
                inset 4px -4px 0 #000;
            box-shadow: inset 4px 4px 0 #000, 
                inset -4px 4px 0 #000, 
                inset -4px -4px 0 #000, 
                inset 4px -4px 0 #000;
                
                
}
.player-1{
    transform: rotate(180deg);
    order: 1;

}

.player-2 {
 
    transform: rotate(0deg);
    order:4;
}

.player__digits {
    font-size: 5.5rem;
    font-weight: bold;
}

.timer__buttons {
    margin-bottom: 1em;
    order: 2;
}

.timer__start-bttn, 
.timer__reset-bttn,
.ajust_bttn {
    width: 100%;
    display: block;
    color: #020202;
    min-height: 50px;
    
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    letter-spacing: 2px;
    margin: 0 auto 5px auto;
    border: 4px solid #000000;
    font-family: 'FiraMono-Regular', monospace;
    position: relative;
    
}
.timer__ajust-bttn{
    color: #FFFFFF;
  
}

.timer__start-bttn {
    color: #FFFFFF;
    background-color: #0071D5;
}

.timer__start-bttn:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.timer__reset-bttn:hover {
    color: #FFFFFF;
    background-color: #0071D5;
}

footer p {
    margin: .5rem 5px;
    text-align: center;
}

.footer__link {
    color: #444444;
    font-size: .8rem;
}

.footer__link a {
    color: #444444;
}


@media only screen and (orientation: landscape) and (max-width: 850px) {
    .player {
        max-width: 610px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        
        order 3
        height: auto;
    }
    .player__tile {
        max-width: 300px;
        max-height: 250px;
        margin: 0 3px 5px 3px;
    }
    .player__digits {
        font-size: 5rem;
    }
    .timer__buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto;
        max-width: 610px;
    }
    .timer__start-bttn, 
    .timer__reset-bttn {
        display: block;
        max-width: 300px;
        margin: 0 3px 5px 3px;
        position: fixed;
        top:50%;
    }
}

@media only screen and (orientation: portrait) and (min-width: 400px) {
    .player__tile {
        height: 400px;
    }
    .player__digits {
        font-size: 6rem;
    }
}

@media only screen and (min-width: 850px) {
    main{
        height: auto;
    }
    .player {
        margin: 1em auto 10px auto;
        max-width: 810px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
                -webkit-flex-flow: wrap row;
                flex-flow: wrap row;
    }
    .player__tile {
        height: 400px;
       
    }
    .player-1{
        transform: rotate(0deg);
        order: 1;
    
    }
    .player-2 {
        margin-top: 0;
        order: 2;
    }
    .player__digits {
        font-size: 7rem;
    }
    .timer__buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin:  auto;
        max-width: 810px;
        order: 3;
    }
    .timer__start-bttn, 
    .timer__reset-bttn {
        padding: .7em;
        font-size: 1.8rem;
    }
}
a { color:black; }
a img { border:0; }

#cont { margin:0 auto; width:90%; text-align:center;order: 3; }

#logo { margin-top:65px; }
#req { width: 500px; margin:0 auto; }
#req .qry {  
    border-radius: 8px;
    letter-spacing: 2px;
    margin: 0 auto 5px auto;
    border: 4px solid #000000;
    width: 90%; 
     font-size:1.5em; 
     padding:.2em; 
     text-transform:uppercase; }
#req .sch, #req .clr { font-size:1.5em; margin-bottom:.5em; }

#res { display:none; padding:1em; width:500px; margin:1em auto 0 auto; }
#res_info { padding:1em; }
#res_info strong { text-transform:uppercase; font-weight:bold; font-size:1.1em; }
#res_timer { font-size:.8em; text-align:right; padding:1em 1em 0; }
#res.tornOK { border:2px dotted #060; background-color:#C5F2CE; }
#res.tornKO { border:2px dotted #C00; background-color:#FDD4D4; }

h1 { font-size:1.25em; padding:1em 0 .75em 0; }
p.util { font-size:.8em; }
#worder { padding:2em 0 1.5em 0; line-height: 2.5em; }
#worder img { vertical-align:bottom; }
#copy { font-size:.85em; padding:1em; line-height:1.8em; padding-bottom:4em; }
#credits { font-size:.95em; }
@media only screen and (max-width: 700px) {
    #cont { width:100%; }
    #req { width: 100%; }
    #req .qry {  width: 100%; }
    #res {  width:auto; margin:1em 10px 0 10px; }
    #logo img { max-width: 100%; }
}

.blanc-text{
    color: #FFFFFF;
}
details{
position: fixed;
    z-index: 100;
}
    
