<button class="btn end" ng-click="ordreConjunta()">Ordena per data </button>
<div class="p-1 entrada"
    ng-repeat="partida in aparellaments | orderBy : ordre | filter : combinedFilter">

    <div class="card {{
      partida.Suma_punts >= 1000
        ?  'border-danger' : partida.Suma_punts>= 900
        ? 'border-primary'
        : ''
        }} detallpartida" data-id="{{partida.ID}}">
        <div class="card-body">
            <div class="row ">
                <div class="col-2">
                    <div class="circle">{{partida.Pos_Conjunta}}</div>
                </div>
                <div class="col-10">
                    <div class="d-flex align-items-center">
                        <div class="h5 flex-grow-1">Suma: {{partida.Suma_punts}}</div>
                        <span class="badge text-bg-primary {{
                      partida.Nova != '' ? '' : ' d-none' }}">{{partida.Nova}}</span>
                        <span
                            class="dataPartida badge {{dies <= 14 ? 'text-bg-primary' : 'text-bg-secondary'}}">{{datareduida(partida.Data)}}</span>

                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="d-flex align-items-start flex-column">
                                <small>Puntuació: {{partida.Jugador1.Puntuacions.Puntuacio}}</small>
                                <div class="nom">{{partida.Jugador1.Jugador}}</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex align-items-start flex-column">
                                <small>Puntuació: {{partida.Jugador2.Puntuacions.Puntuacio}}</small>
                                <div class="nom">{{partida.Jugador2.Jugador}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
