<div class="p-1 entrada" ng-repeat="jugador in jugadors | orderBy: '-Punts_mot_jugada-0' |  filter : {Nom:cerca}">
    <div class="card
    {{
        jugador.Punts_mot_jugada >= 100 ? 'border-danger' : ''
      }}
    " data-bs-toggle="collapse" data-bs-target="#collapse{{jugador.ID}}">
        <div class="card-body desplega">
            <div class="row ">
                <div class="col-2">
                    <div class="circle">{{jugador.posJugada}}</div>
                </div>
                <div class="col-10">
                    <div class="d-flex align-items-center">
                        <div class="h5 nom">{{jugador.Nom}}</div>
                        <div class="flex-grow-1"></div>
                        <span class="badge text-bg-primary ">{{jugador.movimentJugada}}</span>
                    </div>
                    <div><span class="mot pe-2" ng-repeat="mot in jugador.Mot_jugada.split('-')">{{mot}}</span></div>
                    <div class="row">
                        <div class="col">
                            <div class="d-flex align-items-start flex-column">
                                <small>Total punts:</small>
                                <div>{{jugador.Punts_mot_jugada}}</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex align-items-start flex-column">
                                <small>Adversari:</small>
                                <div><span class="nom pe-2" ng-repeat="adv in jugador.Adversari_jugada.split('-')">{{adv}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse" id="collapse{{jugador.ID}}">
            <table class="table">
                <tr>
                    <td></td>
                    <td><small>Total Punts</small></td>
                    <td><small>Adversari</small></td>
                    <td></td>
                </tr>
                <tr ng-repeat="p in jugador.partides | orderBy: '-Puntsmot_1-0'">
                    <td></td>
                    <td>{{p.Puntsmot_1-0}}</td>
                    <td>{{p.Jugador2}}</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>